@import './src/styles/mixin';
@import './src/styles/globals';

.wrapper {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @include h2();
  margin-top: 27px;
  color: $text-base;
}

.container {
  margin-top: 27px;
  padding: 30px;
  background-color: $text-white;
  box-sizing: border-box;
}
