.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  position: absolute;
  top: 165px;
  right: 115px;
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
  background-color: rgba(222, 221, 221, 0.8);
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitFormBtn {
  width: 180px;
  height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #474646;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.headerFormContainer {
  display: flex;
  justify-content: center;
}

.headerFormContainer h2 {
  font-weight: lighter;
  margin: auto;
  margin-bottom: 40px;
}

.headerFormContainer a {
  right: 20px;
  position: absolute;
}

a:visited,
a:link {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.btnLightTheme {
  color: #ffffff;
  background-color: #474646;
}

.btnDarkTheme {
  color: black;
  background-color: #bfbfbf;
}

.linkDarkTheme {
  color: white;
}

.linkLightTheme {
  color: black;
}
