@import './src/styles/globals';
@import './src/styles/mixin';

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
  background-color: $text-white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin-top: 28px;
  height: 34px;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  @include shadowDefault;
  padding: auto;
}

.title {
  margin: 0;
  color: $text-base;
  font-size: 24px;
  line-height: 34px;
}

.description {
  margin: 0;
  color: $text-additional;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
}

.answer {
  @include relative();

  padding-left: 48px;
  color: $primary;

  &::before {
    content: '';
    @include absolute(50%, null, null, 0);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url('answer-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.lastMessage {
  color: $text-additional;
}
