@import "../../styles/globals";

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  flex-shrink: 0;
}

.name {
  @include text-base;

  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}

.isDark {
  .name {
    color: $text-white;
  }
}
