@import '../../styles/globals.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  border: 7px solid;
  border-color: $primary;
}

.button {
  margin-top: 24px;
}

.avatarInput {
  display: none;
}
