@import "./src/styles/mixin";

.btn {
  width: 55%;
  padding: 15px 30px;
  cursor: pointer;
  border: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.4s;
  }

  &_Thrakral {
    background-color: #69655c;
    color: #d7d2bf;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: darken(#69655c, 10);
      }
    }
  }

  &_Vrutuks {
    background-color: #b23d3d;
    color: #d7d2bf;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: darken(#b23d3d, 10);
      }
    }
  }
}

.hide {
  @include hide();
}
