@import '../../styles/mixin';
@import '../../styles/globals';

.btn {
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: 4px;
  padding: 12px 18px;
  font: $text-base;
  white-space: nowrap;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.4s;
  }

  &_primary {
    background-color: $primary;
    color: $text-white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
      }
    }
  }

  &_outlined {
    background-color: $text-white;
    color: $primary;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $outlined-hover-color;
      }
    }
  }

  &_sm {
    padding: 6px 14px;
  }
  &_md {
    padding: 12px 18px;
  }
  &_lg {
    padding: 14px 22px;
  }
}

.disabled {
  background-color: $disabled-color;
  border-color: $disabled-color;
  cursor: auto;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $disabled-color;
      border-color: $disabled-color;
    }
  }
}

.rounded {
  border-radius: 40px;
}

.hide {
  @include hide();
}
