@font-face {
  font-family: times-new-roman;
  src: url('times.ttf');
}

#root {
  height: 100vh;
}

html * {
  font-family: times-new-roman, Times, serif;
}

body, h2 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
}

input {
  border: none;
  padding: 0;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
