#root {
  height: 100vh;
}

body {
  margin: 0;
}

button {
  border: none;
  padding: 0;
}

input {
  border: none;
  padding: 0;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
