@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

html {
  height: 100vh;
}

body,
#root {
  height: 100%;
}
