.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalMain {
  background: white;
  height: auto;
  border-radius: 4px;
  padding: 40px;
  width: 400px;
}

.defaultChildrenClassName {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 0 0 20px;
  text-align: center;
}

.show {
  visibility: visible;
  transition: opacity 1s;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
