button {
  border: none;
  padding: 0;
}

input {
  border: none;
  padding: 0;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset {
  margin-bottom: 60px;
  width: 350px;
  position: relative;
  border: none;
}

.fieldsetInput {
  position: absolute;
  width: 100%;
  padding: 2px;
  z-index: 1;
  border-bottom: 1px solid #838382;
  background-color: transparent;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.fieldsetLabel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: auto;
  text-align: center;
  transition: 0.3s;
}

.fieldsetInput:focus-within ~ .fieldsetLabel,
.fieldsetInput:not(:placeholder-shown) ~ .fieldsetLabel {
  top: -20px;
  font-size: 12px;
}

.labelLightTheme {
  color: black;
}

.labelDarkTheme {
  color: white;
}

.inputLightTheme {
  color: black;
}

.inputDarkTheme {
  color: white;
}
