@import '../constants/themes';

.h1 {
  font-size: 36px;
  font-style: normal;
  line-height: 48px;
  font-weight: 600;
}

.h2 {
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  font-weight: 500;
}

.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.baseColor {
  color: var(#{$--theme-text-base});
}

.additionalColor {
  color: var(#{$--theme-text-additional});
}
