@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";
@import "../../styles/globals.scss";


.main {
  flex-grow: 1;
  background: linear-gradient(to right, #ffeeee, #e7dfff);
  font: $text-base-font;
  display: flex;
  min-height: $main-window-height;
  justify-content: space-between;
  align-items: center;
}
.mainContent {
  margin-left: $main-margin;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  margin: 0 0 6px;
}

.description {
   @include h2;
   width: 650px;
}

.button {
  margin: 90px 0 0 35px;
}

.cardsImage {
  align-self: flex-start;
}

.dark {
  background: none;
  background-color: $dark-ux-background;
  color: $dark-theme-white;
}