@import '../../styles/globals.scss';
@import '../../styles/mixin.scss';

.wrapper {
  width: 100vw;
}

.container {
  min-height: 60vh;
  @include container-width;
}

.title {
  @include h2;
  color: $text-base;
  margin: 27px 0;
}

.configContainer {
  width: 100%;
  margin-top: 37px;
  padding: 40px;
  display: flex;

  background-color: white;
  border-radius: 10px;
  @include shadowDefault;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  gap: 40px;

  & * {
    align-self: center;
    max-width: 224px;
  }
}
