@import '../../styles/mixin';
@import '../../styles/globals';
@import "../../styles/variables";

.header {
  width: 100vw;
  box-sizing: border-box;
  padding: 10px $main-margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  @include clear-list;
}

.logoLink {
  margin-right: 120px;
  line-height: 0;
}

.link {
  @include text-base;
  @include clear-link;
  color: $primary;
}

.li + .li {
  margin-left: 30px;
}

.dark {
  background: none;
  background-color: $dark-ux-background;
  border-bottom: 1px solid rgba(149, 149, 149, 0.2);
}

.darkText {
  color: $dark-white;
}

.dark {
  background: none;
  background-color: $dark-ux-background;
  border-bottom: 1px solid rgba(149, 149, 149, 0.2);
}

.darkLink {
  color: $dark-theme-white;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.name {
  font: $h4;
  margin: 0;
}

.divider {
  height: 35px;
  width: 1px;
  background-color: $text-additional-color;
}

.logoutText {
  font: $text-base-font;
  color: $primary-color;
  cursor: pointer;
}
