@import '../../../styles/globals.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

// Устанавливает цвет для передаваемого свойства property
@mixin colors($property) {
  &_red {
    #{property}: red;
  }

  &_green {
    #{property}: #33ff00;
  }

  &_pink {
    #{property}: pink;
  }

  &_grey {
    #{property}: $primary;
  }
}

.playersContainer {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  @include shadowDefault;
  width: 100%;
  box-sizing: border-box;
}

.info {
  @include text-base;
  color: black;
}

.players {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chipContainer {
  padding: 10px;

  & + .chipContainer {
    margin-left: 40px;
  }
}

.chip {
  border-radius: 100%;
  width: 93px;
  height: 93px;
  @include colors(background-color);
}

.name {
  font: 400 24px/32px;
  @include colors(color);
}
