.themeTogglerBtnContainer {
  bottom: 20px;
}

.themeTogglerBtn {
  background: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.sunIcon {
  background-image: url('/images/sun-icon.svg');
}

.moonIcon {
  background-image: url('/images/moon-icon.svg');
}

.formContainer {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formContainerLightTheme {
  color: #000;
  background-color: rgba(222, 221, 221, 0.8);
}

.formContainerDarkTheme {
  color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
