// Colors (цвета)
$text-base: #2e2e2e;
$text-additional: #959595;
$text-error: #f30000;
$text-white: #ffffff;
$text-black: #000000;
$primary: #474646;
$dark-ux-stroke: #363636;
$dark-ux-background: #1a1a1a;
$dark-white: #fbfbfb;
$dark-background: #111111;
$light-background: linear-gradient(112.4deg, #ffeeee 9.84%, #e7dfff 73.46%);
$row-separate: #d9d9d9;
$dark-theme-white: white;
