// Colors
$primary-color: #474646;
$primary-hover-color: #6a6a6a;
$outlined-color: white;
$outlined-hover-color: rgba(71, 70, 70, 0.09);

// Text colors
$text-base: #2e2e2e;
$text-additional: #959595;
$text-error: #f30000;
