@import '../../styles/mixin.scss';
@import '../../styles/globals.scss';

.option {
  color: $text-base;
  background: #fff;
  @include text-base;
  padding: 10px;
  transition: all 0.25s;
  &:hover {
    @extend .optionSelected;
  }
}

.optionSelected {
  color: #fff;
  background: $primary;
}
